<section class="bg-white">
<app-header></app-header>
      
 
      
      <div class="about-us big-padding">
          <div class="container-lg">
              <div class="section-title">
                 
                  <h1>Dracoss: A Commitment to Water Conservation and Purification</h1>
                    <h3>We are a team of dedicated professionals who are passionate about providing innovative water conservation and purification solutions.
                    </h3>
              </div>
              <div class="about-row row">
                  <div class="col-md-7">
                      <div class="abut-detail fs-6">

                          <p class="mb-3">Dracoss is a company dedicated to providing water conservation and purification solutions. We were founded in 2023 by a team of dedicated professionals who are passionate about protecting our water resources. We believe that everyone has a role to play in conserving water, and we are committed to developing innovative products and services that help people save water and protect the environment.</p>

                      </div>



                  </div>
                  <div class="col-md-5 p-4">
                      <img src="assets/images/water.png" alt="" class="small-image">
                  </div>
              </div>
              <br>
              <div class="about-row row">
                <div class="col-md-5 p-4">
                    <img src="assets/images/env.png" alt="" class="small-image">
                </div>
                <div class="col-md-7">
                    <div class="abut-detail fs-6">
                        <p class="mb-3">Our vision for the future of water conservation and purification is a world where everyone has access to clean, safe water. We believe that water is a precious resource, and we are committed to doing our part to protect it. We are confident that our team and our products can help us achieve this vision.</p>
                    </div>
                </div>
            </div>
            
      </div>
      
      
  <div class="out-team container-fluid big-padding bg-gray">
      <div class="container">
          <div class="row section-title">
              <h2>Our Team</h2>
              
          </div>
          <div class="team-row row">
              <div class="col-md-3 mb-4">
                  <div class="teamc shadow-md text-center bg-white p-2">
                      <img src="assets/images/team/1.jpg" alt="">
                      <h4 class="fs-5 mt-3 fw-bolder mb-0">Manoj Parikar</h4>
                      <span class="fs-8">CEO Shaw Analysis</span>
                  </div>
              </div>
              <div class="col-md-3 mb-4">
                  <div class="teamc shadow-md text-center bg-white p-2">
                      <img src="assets/images/team/2.jpg" alt="">
                      <h4 class="fs-5 mt-3 fw-bolder mb-0">James Anderson</h4>
                      <span class="fs-8">CEO Shaw Analysis</span>
                  </div>
              </div>
              <div class="col-md-3 mb-4">
                  <div class="teamc shadow-md text-center bg-white p-2">
                      <img src="assets/images/team/3.jpg" alt="">
                      <h4 class="fs-5 mt-3 fw-bolder mb-0">Pream Vikij</h4>
                      <span class="fs-8">CEO Shaw Analysis</span>
                  </div>
              </div>
              <div class="col-md-3 mb-4">
                  <div class="teamc shadow-md text-center bg-white p-2">
                      <img src="assets/images/team/4.jpg" alt="">
                      <h4 class="fs-5 mt-3 fw-bolder mb-0">Andrew Preson</h4>
                      <span class="fs-8">CEO Shaw Analysis</span>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!--- ############ Footer Starts Here ################## -->
  <app-footer></app-footer>
  <div class="copy">
      <div class="container">
          <a href="https://www.smarteyeapps.com/">2022 &copy; All Rights Reserved | Designed and Developed by Smarteyeapps.com</a>

        
      </div>
  </div>

